.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}

.container button {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}